<div class="quest">
  @if (questService.isEndOfCases()) {
    <div class="results">
      <div class="success">Congrats!</div>
      <div class="info">
        <p>You done it!</p>
        <p>
          You got {{ questService.correctChoiceTotal() }} of
          {{ questService.cases().length }} cases.
        </p>
      </div>
      <button class="next" (click)="questService.goToStart()">Restart</button>
    </div>
  } @else {
    <div>
      <div class="header">
        Case {{ questService.caseIndex() + 1 }}/{{
          questService.cases().length
        }}
      </div>
      <case />
      @if (questService.currentChoice()) {
        <button
          [disabled]=""
          class="next"
          (click)="questService.goToNextCase()"
        >
          Next
        </button>
      }
    </div>
  }
</div>
